= link_to_add_association (octicon 'plus', height: 20, class: 'text-success'),
          f, :attachments, data: { association_insertion_node: '.attachments',
                                       association_insertion_method: :append }
