.edit_answer,
.edit_question,
.edit_comment,
.new_comment,
.mock-link,
.hide-link
 {
  display: none;
}

.minus-file,
.delete-file
{
  padding-bottom: 12px;
}

.attachment {
  display: flex;
}

.answer {
  padding-left: 15px;
  margin-top: 5px;
  padding-bottom: 5px;
  width: 70%;
}

.comment {
  width: 80%;
  padding-left: 15px;
}

.question {
  padding-left: 15px;
  margin-top: 5px;
  padding-bottom: 5px;
  width: 70%;
}

.info {
  padding: 10px;
  width: 45%;
  background-color: #B0E0E6
}

.rating {
  padding-left: 10px;
  width: 35px;
  border: 2px solid red;
  border-radius: 20px;
  margin-top: 5px;
}

.new_question {
  margin-top: 5px;
}

.new-answer-form {
  padding-left: 10px;
  margin-bottom: 5px;
  width: 70%;
}

.custom-select {
  width: 150px;
}

.result {
  width: 75%;
}
